.NavBar {
    display: flex;
    border: 5px solid grey;
}

.UL {
    display: flex;
}
.items {
    padding: 10px;
    /*border: 5px solid rgb(17, 105, 121);
    background-color: rgba(17, 105, 121,.1);*/
    border-radius: 5px;
}